[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile
[submodule "themes/hugo-dynamic-tabs"]
	path = themes/hugo-dynamic-tabs
	url = https://github.com/rvanhorn/hugo-dynamic-tabs/
	branch = bootstrap5
